<% @cart.orderables.each do |orderable| %>
  <% product = orderable.product %>
  <div id="<%= "cart-#{product.id}" %>">
    <div style="display:flex;justify-content:space-between; margin: 0em 5em;">
      <%= product.title %>

      <%= product.value %>

      <%= form_with(url: cart_add_path)  do |f| %>
        <%= f.hidden_field :id, value: product.id %>
        
          <%= f.label :quantity, "Quantidade", class: "form-label" %>
          <%= f.number_field :quantity, value: orderable.quantity, style: "width: 4em;" %>
        <%= f.submit "Alterar quantidade", class: "btn btn-primary mb-3" %>
      <% end %>

      <%= form_with(url: cart_remove_path)  do |f| %>
        <%= f.hidden_field :id, value: orderable.id %>
        <div class="actions"><%= f.submit "Remover", class: "btn btn-primary mb-3" %></div>
      <% end %>
    </div>
  <% end %>
    
