<div style="text-align:center; margin: 20px;">
  <h1 class="greeting">Welcome, this is the home page</h1>  
</div>
<div style="margin: 0 auto;">
  <div class="container">
    <%= render partial: "alert" %>  
  </div>
  <div>
    <section class="products">
      <% @products.each do |product| %>
        <a href="<%= url_for(product) %>">
          <div id="productCard" class="product-card" onmouseover="this.classList.add('wiggle');" onmouseout="this.classList.remove('wiggle');">
            <div class="product-image">
              <% if has_img?(product.description) %>
                <%= return_img(product.description) %>
              <% else %>
                <%= image_tag product.images[0], class:"resize" %>
              <% end %>
            </div>
            <div class="product-info">
              <h5><%= product.title %></h5>
              <h6><%= number_to_currency(product.value, unit: "R$ ", separator: ",", delimiter: "") %></h6>
            </div>
          </div>
        </a>
      <% end %>
    </section>
  </div>
</div>
<button type="button" 
class="btn btn-sm btn-danger" 
data-bs-toggle="popover" 
title="Popover title" 
data-bs-content="Amazing content, right ?">
Click to toggle popover
</button>  

<% content_for :javascript do %>

<% end %>